
@{
    ViewBag.Title = "Личный кабинет";
}

<div id="editBlock">
    <center><b>Здравствуйте, @((String)TempData["Name"])  @((String)TempData["Patronymic"])!</b></center>
    <ul class="pager" style="text-align: right;">
        <li class="btn btn-lg"><a href="/Bank/Index">Выход</a></li>
    </ul>

    <center>@((String)TempData["Possible"])</center>
    <hr />
    <form method="get">
        <center>
            <a href="/Bank/PersonalData" class="btn btn-primary btn-lg">Персональные данные</a>
            <a href="/Bank/MoneyContribution" class="btn btn-primary btn-lg">Сделать вклад</a>
            <a href="/Bank/Credit" class="btn btn-primary btn-lg">Взять кредит</a>
            <a href="/Bank/MoneyTransfer" class="btn btn-primary btn-lg">Выполнить перевод</a>
        </center>
        <br>
        <center>
            <a href="/Bank/BuyValute" class="btn btn-primary btn-lg">Купить валюту</a>
            <a href="/Bank/SellValute" class="btn btn-primary btn-lg">Продать валюту</a>
        </center><br><br><br><br><br>
        <center>
            <center>КУРС АМЕРИКАНСКОГО ДОЛЛАРА НА @DateTime.Now.Day @((String)TempData["Month"]) @DateTime.Now.Year ГОДА</center><br />
            <center>Курс продажи: @((Double)TempData["CourseSel"]) руб./ дол.</center>
            <center>Курс покупки: @((Double)TempData["CourseBuy"]) руб./ дол.</center>
        </center>
    </form>
</div>
