
@{
    ViewBag.Title = "Вход в личный кабинет";
}
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
<div id="editBlock">
    <form method="get">
        <center><b>ВХОД В ЛИЧНЫЙ КАБИНЕТ</b></center>
        <hr />

        <center>
            <a class="btn btn-primary btn-lg" href="/Bank/EnterToSystem">Войти</a>
            <a class="btn btn-primary btn-lg" href="/Bank/Registration">Зарегистрироваться</a>
        </center>

        <br><br><br><br><br><br><br>

        <center>КУРС АМЕРИКАНСКОГО ДОЛЛАРА НА @DateTime.Now.Day @((String)TempData["Month"]) @DateTime.Now.Year ГОДА</center><br />
        <center>Курс продажи: @((Double)TempData["CourseSel"]) руб./ дол.</center>
        <center>Курс покупки: @((Double)TempData["CourseBuy"]) руб./ дол.</center>
    </form>
</div>

