
@{
    ViewBag.Title = "Выполнить перевод";
}

<div class="brand-panel">
    <img src="~/images/svg-icon/bank.svg" alt="Alternate Text" width="50" height="50" />
    <h3>Банк Города / Выполнить перевод</h3>
</div>

<div id="editBlock">
    <ul class="pager" style="text-align: left;">
        <li class="btn btn-lg"><a href="/Bank/ClientPage">Назад</a></li>
    </ul>
    <hr />

    <form method="post" class="col-md-4 col-md-offset-4">
        <input type="hidden" value="@ViewBag.Id" name="Id" />
        <input type="hidden" value="@((Int32)TempData["Id"])" name="Sender" />
        <div class="form-group">
            <label>Укажите сумму, которую Вы хотите перевести:</label>
            <input class="form-control" id="Text1" type="number" name="Summa" min="0" max="@((Double)TempData["Money"])" required />
        </div>
        <center>
            <p>
                <script>
                    db = openDatabase("BankClientContext", "0.1", "A list of to do items.", 200000);
                    if (!db) {
                        alert("Failed to connect to database.");
                    }
                </script>

                <section>
                    <label class="select-label">Выберите получателя:</label>

                    <select class="cs-select cs-skin-rotate" name="Recipient">
                        @foreach (var person in ViewBag.Residents)
                        {
                            if ((@person.Id != 1) && (@person.Id != 2) && (@person.Id != 3) && (@person.Id != ViewBag.Id))
                            {
                                <option value=@person.Id>@person.Surname @person.Name @person.Patronymic, номер счёта: @person.Id</option>
                            }
                        }

                    </select>
                </section>

            </p>
        </center><br>
        <center> <p><input class="btn btn-primary" id="Submit2" type="submit" value="Перевести" /></p></center>)
    </form><br>
</div>


