
@{
    ViewBag.Title = "Персональные данные";
}

<div class="brand-panel">
    <img src="~/images/svg-icon/bank.svg" alt="Alternate Text" width="50" height="50" />
    <h3>Банк Города / Персональные данные</h3>
</div>

<div id="editBlock">
    <ul class="pager" style="text-align: left;">
        <li class="btn btn-lg"><a href="/Bank/ClientPage">Назад</a></li>
    </ul>
    <center><b>Ваши данные</b></center>
    <hr />
    <center>Фамилия: @((String)TempData["Surname"])</center>
    <center>Имя: @((String)TempData["Name"])</center>
    <center>Отчество: @((String)TempData["Patronymic"])</center>
    <center>Логин: @((String)TempData["Login"])</center>
    <center>Пароль: @((String)TempData["Password"])</center>
    <center>Номер счёта: @((Int32)TempData["Id"])</center>
    <center>Баланс счёта: @((Double)TempData["Money"])</center>
    <center>Баланс валютного счёта: @((Double)TempData["MoneyInCourse"])</center>
</div>