
@{
    ViewBag.Title = "Продать валюту";
}

<div class="brand-panel">
    <img src="~/images/svg-icon/bank.svg" alt="Alternate Text" width="50" height="50" />
    <h3>Банк Города / Продать валюту</h3>
</div>

<div id="editBlock">
    <ul class="pager" style="text-align: left;">
        <li class="btn btn-lg"><a href="/Bank/ClientPage">Назад</a></li>
    </ul>
    <hr />

    <form method="post" class="col-md-4 col-md-offset-4">
        <input type="hidden" value="@ViewBag.Id" name="Id" />
        <input type="hidden" value="@((Int32)TempData["Id"])" name="Client" />
        <div class="form-group">
            <label>Укажите сумму валюты для продажи:</label>
            <input id="Text1" type="number" name="Summa" min="0" max="@((Double)TempData["MoneyInCourse"])" required />
        </div>
            <center> <p><input class="btn btn-primary" id="Submit2" type="submit" value="Продать" /></p></center>
</form><br>
    <footer>
        <p align="right">&copy; @DateTime.Now.Day : @DateTime.Now.Month : @DateTime.Now.Year</p><br />
        <p align="right">@DateTime.Now.Hour : @DateTime.Now.Minute : @DateTime.Now.Second</p>
    </footer>
</div>
